*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat';
}

.contenedor{
    padding: 50px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:rgb(91, 0, 177);
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

header{
    width: 100%;
    height: 650px;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff108860, #3493e656), url(../image/sist.solar-banner.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff108860, #3493e656), url(../image/sist.solar-banner.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-size:cover;
    background-attachment:fixed;
    position: relative;
}

.logo{
    background-color: rgb(228, 216, 216);
    display: flex;
    padding: 10px 50px 10px 50px;
    margin-left: 0em;
}

nav{
    text-align: right;
    padding: 30px 60px 0 0;
    margin-left: 42em;
}

nav a{
    color: rgb(12, 12, 12);
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    margin-right: 30px;
}

nav a:hover{
    text-decoration: underline;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
    text-shadow: 4px -1px 4px black; 
    text-transform: uppercase;
}

.title{
    background-color: hsl(0, 10%, 86%);
    color:rgb(91, 0, 177);
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.form-register{
    display: flex;
    margin: auto;
    padding: 30px;
    background-color: hsl(0, 10%, 86%);
}

.form h2{
    color: #fff;
    margin: auto;
    margin-bottom: 30px;
}
.video{
    margin: auto;
    padding-left: 30px;
}
.form{
    width: 400px;
    background: rgb(91, 0, 177);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'montserrat';
    color: #fff;
    box-shadow: 7px 13px 27px #000;
    margin-bottom: 50px;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    font-family: 'montserrat';
    font-size: 18px;
}

.form p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form a{
    color: rgb(255, 187, 221);
    text-decoration: none;
}

.form a:hover{
    color: rgb(255, 187, 221);
    text-decoration: underline;
}

.form-register .form .botons{
    background-color: rgb(255, 187, 221);
    width: 100%;
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0px;
    font-family: 'montserrat';
    font-size: 16px;
}

footer{
    background-color: rgb(8, 8, 8);
    padding: 40px 0 40px 0;
    margin: auto; /*para centrar todo*/
    overflow: hidden; /*para que no se rompa la maqueta del footer*/
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}

.content-foo{
    text-align: center;  
}

.content-foo h5{
    color: rgb(255, 174, 231);
}

.content-foo p{
    color: #fff;
}
